body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    background-color:  #001e42;
} 
h1{
    font-size: 2rem;
}
.dshboard-container{
    margin-left: 200px;
    position: absolute;
}

.side-bar-con{
    position: fixed;
    display: flex;
    width: 160px;
    height: 100vh;
    background-color: #050c29;
    color: bisque;
    font-size: 30px;
    flex-direction: column;
    /* gap: 25px; */
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.side-bar 
{
    /* border: 10px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-left: -28px;
    list-style: none;
}
.side_btn{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: bisque;
    gap: 50px;
    margin-left: -28px;
    background-color: transparent;
    border: none;
    text-decoration: none;

}

.side_btn:hover{
        display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    border-radius: 16px;
    background-color: #0e1f61;
    cursor: pointer;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.side_btn:focus{
        display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    border-radius: 16px;
    background-color: #0e1f61;
    cursor: pointer;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

li:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    border-radius: 16px;
    background-color: #0e1f61;
    cursor: pointer;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
.dshboard-container{
    width: 200px;
    height: 150px;
    margin-top: 100px;
    margin-left: 300px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.441);
    border: #001e42 2px solid;
}
.dsh-heading{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    /* align-items: center; */
    justify-content: center;
}

.Bmi-con{
    position: absolute;
    margin-left: 200px;
    /* border: 2px white solid; */
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Bmi{
    height: 80vh;
    width: 25vw;
    background-color: #103159;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;


}

.calc-btn{
    margin-top: 25px;
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    border-radius: 12px;
}