body{
    /* background: linear-gradient(25deg, #c03c6c,#4c393b 50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    font-family: sans-serif;
}